<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>

.header{
  background: #80C683;
}
.header p{
  text-align: center;
  font-size: 16px;
  color: #fff;
  padding: 16px;
  margin: 0;
  font-weight: 700;
}
span{
  color: #fff;
  padding: 16px;
}
.padding-reset{
  padding-left: 0;
  padding-right: 0;
  /*use for resing default padding for .row in input text section*/
}
.teaxtbox input[type="text"]{
  width: 100%;
  border: 1px solid #f1f1f1;
  font-size: 18px;
  font-weight: 700;
  padding: 12px;
}
.teaxtbox input[type="text"]:focus{
  outline: none;
}
.commonbutton input[type="button"]{
  padding: 8px;
  background: #f2f2f2;
  border: none;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  margin-top: 15px;
  border-radius: 5px;
}
.conflict input[type="button"]{
  padding: 8px;
  background: #f2f2f2;
  border: none;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  margin-top: 15px;
  border-radius: 5px;
}
.conflict input[type="button"]:focus, .commonbutton input[type="button"]:focus{
  outline: none;
}
#del{
  background: #F40057;
  color: #fff;
}
#plus{
  height: 97px;
}
#equal{
  background: #80C683;
  color: #fff;
}
.container-fluid{
    margin: 0px 150px;
}
</style>
<body>
    <div class="container-fluid"style="text-align: center;">
        <div class="row"  >
          <div style="width: 320px; ">
            <!-- start of header section -->
            <div class="row header">
              <div class="col-md-2">
                <span class="glyphicon glyphicon glyphicon-menu-hamburger"></span>
              </div>
              <div class="col-md-8">
                <p>Calculator</p>
              </div>
              <div class="col-md-2">
                <span class="glyphicon glyphicon glyphicon-cog"></span>
              </div>
            </div> <!-- header div -->
            <!-- end of header section -->
            <!-- start of textbox -->
            <div class="row teaxtbox">
              <div class="col-md-12 ">
                <input type="text" name="" value="" id="inputField">
              </div>
            </div>
            <!-- end of textbox -->
  
            <!-- start of button design -->
            <div class="row commonbutton">
              <!-- first row -->
              <!-- <div class="col-md-3">
                <input type="button" name="" value="&#8730;" class="">
              </div>
              <div class="col-md-3">
                <input type="button" name="" value="(" class="">
              </div>
              <div class="col-md-3">
                <input type="button" name="" value=")" class="">
              </div>
              <div class="col-md-3">
                <input type="button" name="" value="%" class="">
              </div> -->
              <!-- second row -->
              <div class="col-md-3">
                <input type="button" name="" value="7" id="seven" onclick="addToInput('7')" >
              </div>
              <div class="col-md-3">
                <input type="button" name="" value="8" class=""  onclick="addToInput('8')">
              </div>
              <div class="col-md-3">
                <input type="button" name="" value="9" class=""  onclick="addToInput('9')">
              </div>
              <div class="col-md-3">
                <input type="button" name="" value="/" class=""  onclick="addToInput('/')">
              </div>
              <!-- third row -->
              <div class="col-md-3">
                <input type="button" name="" value="4" class=""   onclick="addToInput('4')">
              </div>
              <div class="col-md-3">
                <input type="button" name="" value="5" class=""   onclick="addToInput('5')">
              </div>
              <div class="col-md-3">
                <input type="button" name="" value="6" class=""    onclick="addToInput('6')">
              </div>
              <div class="col-md-3">
                <input type="button" name="" value="X" class=""   onclick="addToInput('*')">
              </div>
              <!-- four row -->
              <div class="col-md-3">
                <input type="button" name="" value="1" class=""   onclick="addToInput('1')">
              </div>
              <div class="col-md-3">
                <input type="button" name="" value="2" class=""    onclick="addToInput('2')">
              </div>
              <div class="col-md-3">
                <input type="button" name="" value="3" class=""    onclick="addToInput('3')">
              </div>
              <div class="col-md-3">
                <input type="button" name="" value="-" class=""    onclick="addToInput('-')">
              </div>
            </div> <!-- end of comonbutton div -->
            <!-- end of button design -->
            <!-- start of conflicting button area -->
            <div class="row conflict">
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-8">
                    <input type="button" name="" value="0" class=""  onclick="addToInput('0')">
                  </div>
                  <div class="col-md-4">
                    <input type="button" name="" value="." class="" onclick="addToInput('.')">
                  </div>
                  <div class="col-md-4">
                    <input type="button" name="" value="Del" id="del" onclick="document.getElementById('inputField').value = ''">
                  </div>
                  <div class="col-md-8">
                    <input type="button" name="" value="=" id="equal" onclick="outputt()">
                  </div>
                </div>
              </div> <!-- end  zero, dot, del and equal sign div -->
              <div class="col-md-3">
                  <input type="button" name="" value="+" id="plus"  onclick="addToInput('+')">
              </div>
            </div> <!-- end of conflicting area -->
            <!-- end of conflicting button area -->
          </div>
        </div>
      </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>
    // global variables for calculation
    function addToInput(a){
        value=document.getElementById('inputField').value;
        document.getElementById('inputField').value=value+a
    }
    function outputt(){
        q=document.getElementById("inputField").value;
        console.log(q);
        if(q.includes("+")){
            number=q.split("+");
            result=0
            for(var i=0;i<number.length;i++){
                result+=parseFloat(number[i]);
            }
            document.getElementById("inputField").value=result;console.log(number);
        }
        else if(q.includes("-")){
            number=q.split("-");
            result=parseFloat(number[0])
            for(var i=1;i<number.length;i++){
                result-=parseFloat(number[i]);
            }
            document.getElementById("inputField").value=result;console.log(number);
        }
        else if(q.includes("*")){
            number=q.split("*");
            result=parseFloat(number[0])
            for(var i=1;i<number.length;i++){
                result*=parseFloat(number[i]);
            }
            document.getElementById("inputField").value=result;console.log(number);
        }
        else if(q.includes("/")){
            number=q.split("/");
            result=parseFloat(number[0])
            for(var i=1;i<number.length;i++){
                result/=parseFloat(number[i]);
            }
            document.getElementById("inputField").value=result;console.log(number);
        }
    }
</script>
</html>